<section class="pagination">
        <a href="/?page=<%= pagination.prev %>" class="<%= pagination.hasPrev ? '' : 'hidden' %>">Prev</a>
        <a href="/?page=<%= pagination.curr %>" class="active"><%= pagination.curr %></a>
        <a href="/?page=<%= pagination.next %>" class="<%= pagination.hasNext ? '' : 'hidden' %>">Next</a>
</section>